{% extends "base.html" %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.addEventListener('load', function() {
            MathJax.typeset();
        });
    </script>
{% endblock %}

{% block title %} Extracted ground water levels from NZGD borehole and CPT records {% endblock %}

{% block content %}
<section>
    <h1>Ground water levels extracted from NZGD CPT and borehole records</h1>

</section>

<!-- Form to allow user input for filtering data -->
<form id="query-form" method="GET" action="/nzgd_gwl_map/">

    <!-- Dropdown to select an investigation type to show on the map -->
    <label for="type_shown">Select an investigation type to show</label>
    <select id="query-type-shown" name="type_shown">
        {% for column, label in type_shown_variables %}
        <option value="{{column}}" {% if column==type_shown %}selected{% endif %}> {{label}}</option>
        {% endfor %}
    </select>



    <!-- Dropdown to select a parameter to colour points by on the map -->
    <label for="colour_by">Select a parameter to colour by</label>
    <select id="query-colour" name="colour_by">
        {% for column, label in colour_variables %}
        <option value="{{column}}" {% if column==colour_by %}selected{% endif %}> {{label}}</option>
        {% endfor %}
    </select>


    <!-- Submit button to trigger a search -->
    <button id="query-button">Update selection</button>
</form>
<h5> {{ marker_description_text }} </h5>
<!-- Section to render the Plotly map -->
<section role="figure">
    {{map | safe}}
    <!-- Render the Plotly map as raw HTML. 'safe' prevents auto-escaping of HTML content -->
</section>

{% endblock %}